<div class="content">
  <div class="row">

    <br>
    <br>

<h1> Miniräknare</h1>
    <GridLayout columns="*, *, *, *" rows="auto, auto, *, *, *, *, *" >
        <Label class="result" text="RESULT" colSpan="4"></Label>
        <Label text="OPERATON" row="1" colSpan="4"></Label>
        <Button row="2" col="0" text="7"></Button>
        <Button row="2" col="1" text="8"></Button>
        <Button row="2" col="2" text="9"></Button>
        <Button row="2" col="4" text="+"></Button>
        <Button row="3" col="0" text="4"></Button>
        <Button row="3" col="1" text="5"></Button>
        <Button row="3" col="2" text="6"></Button>
        <Button row="3" col="3" text="6"></Button>
        <Button row="3" col="4" text="-"></Button>
        <Button row="4" col="0" text="1"></Button>
        <Button row="4" col="1" text="2"></Button>
        <Button row="4" col="2" text="3"></Button>
        <Button row="4" col="3" text="X"></Button>
        <Button row="5" col="0" text="0"></Button>
        <Button row="5" col="1" text="."></Button>
        <Button row="5" col="2" text="("></Button>
        <Button row="5" col="3" text=")"></Button>
        <Button row="6" col="0" text="UNDO"></Button>
        <Button row="6" col="1" text="CLEAR"></Button>
        <Button row="6" col="2" colSpan="2" text="="></Button>
      </GridLayout>

  </div>
</div>