

      <form name="calculator">
         <table>
            <tr>
               <td colspan="4">
                  <input type="text" name="display" id="display" disabled>
               </td>
            </tr>
            <tr>
               <td><input type="button" name="one" value="1" onclick="calculator.display.value += '1'"></td>
               <td><input type="button" name="two" value="2" onclick="calculator.display.value += '2'"></td>
               <td><input type="button" name="three" value="3" onclick="calculator.display.value += '3'"></td>
               <td><input type="button" class="operator" name="plus" value="+" onclick="calculator.display.value += '+'"></td>
            </tr>
            <tr>
               <td><input type="button" name="four" value="4" onclick="calculator.display.value += '4'"></td>
               <td><input type="button" name="five" value="5" onclick="calculator.display.value += '5'"></td>
               <td><input type="button" name="six" value="6" onclick="calculator.display.value += '6'"></td>
               <td><input type="button" class="operator" name="minus" value="-" onclick="calculator.display.value += '-'"></td>
            </tr>
            <tr>
               <td><input type="button" name="seven" value="7" onclick="calculator.display.value += '7'"></td>
               <td><input type="button" name="eight" value="8" onclick="calculator.display.value += '8'"></td>
               <td><input type="button" name="nine" value="9" onclick="calculator.display.value += '9'"></td>
               <td><input type="button" class="operator" name="times" value="x" onclick="calculator.display.value += '*'"></td>
            </tr>
            <tr>
               <td><input type="button" id="clear" name="clear" value="c" onclick="calculator.display.value = ''"></td>
               <td><input type="button" name="zero" value="0" onclick="calculator.display.value += '0'"></td>
               <td><input type="button" name="doit" value="=" onclick="calculator.display.value = eval(calculator.display.value)"></td>
               <td><input type="button" class="operator" name="div" value="/" onclick="calculator.display.value += '/'"></td>
            </tr>
         </table>
      </form>

      <br><br>

      <h1>JavaScript Calculator</h1>
<p class="warning">Don't divide by zero</p>

<div id="calculator" class="calculator">

  <button id="clear" class="clear">C</button>

  <div id="viewer" class="viewer">0</div>

  <button class="num" data-num="7">7</button>
  <button class="num" data-num="8">8</button>
  <button class="num" data-num="9">9</button>
  <button data-ops="plus" class="ops">+</button>

  <button class="num" data-num="4">4</button>
  <button class="num" data-num="5">5</button>
  <button class="num" data-num="6">6</button>
  <button data-ops="minus" class="ops">-</button>

  <button class="num" data-num="1">1</button>
  <button class="num" data-num="2">2</button>
  <button class="num" data-num="3">3</button>
  <button data-ops="times" class="ops">*</button>

  <button class="num" data-num="0">0</button>
  <button class="num" data-num=".">.</button>
  <button id="equals" class="equals" data-result="">=</button>
  <button data-ops="divided by" class="ops">/</button>
</div>

<button id="reset" class="reset">Reset Universe?</button>
 

